
/*fonts du Cv*/
@font-face {
    font-family: 'Raleway' sans-serif;
    src: url('/fonts/Raleway-VariableFont_wght.ttf');
}


*{
    flex: auto;
    font-family: "Raleway" sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Largeur du Cv*/

.body{
    width: 1160px;
    margin: 0;
    padding: 0; 
}

/*Nom et prénom*/
.nom h1{
    font-family: "Raleway" sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family:"lato" sans-serif;
    font-size: 24px;
}
/*flexbox du header*/

.conteneur{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #17abb3;
    width: auto;
    height: 250px;
    justify-content: space-evenly;
}

.photo{
    width: 400px; 
    height: 240px;
    
}
/*Disposition photo*/

.photo img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 20px;
    border: 3px solid white;
    box-shadow: 4px white;
}
.adresse a{
    color: white;
    text-decoration: none; 

}

/*disposition du nom*/
.nom{
    text-align: center;
    color: white;
    width: 700px;
    font-size: large; 
    text-decoration: none;  
}

/*dimension des logos entête*/
.nom img{
    width: 25px;
    height: 25px;
}
/*disposition des contacts*/
.conteneur .adresse{
   display: inline-flex;
   flex-wrap: wrap;
  width: 240px;
  height: 120px;
  justify-content: center; 
  align-items:normal; 
  cursor:pointer;
}


/*flex du main*/
.conteneur2{
   display: flex;
   flex-direction: row; 
}
/*Couleur et fonts des titres*/
h3{
    font-family: "lato" sans-serif;
    font-size: x-large;
    color: #17abb3;
}
.style li{
   list-style-type: square;   
}

.right-column h3{
    border-bottom: 1px solid black;
}
/*flex de la colonne de gauche*/
.left-column{
    width: 35%;
    height: 100vh;
    background-color: #d6d0d0;
    padding: 15px;
    font-size: 15px;    
}



/*flex de la colonne de droite*/
.right-column{
    width: 65%;
    height: 100vh;
    padding: 15px;
    font-size: 15px;
}
/*Indentation du texte*/
.indente{
    text-indent: 30px;
}
/*Mise en page du footer*/
.pied img{
    width: 25px;
    height: 25px; 
    align-content: center; 
    color: white; 
}
.pied img :hover{
    opacity: 0.8;
}

.pied{
    background-color: #17abb3;
    color: white;
    text-align: center;
    padding: 20px;
}

.pied p{
    display: inline;
    align-self: center;
    justify-content:space-between;
}
